<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>报名列表</title>
    <!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link rel="stylesheet" href="/static/assets/js/Lightweight-Chart/cssCharts.css">

    <style type="text/css">

        .demo1{

            height:100px;

        }

    </style>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">

        <!-- 左边的header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><strong><i
                    class="icon fa fa-plane"></i> 选项</strong></a>

            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>
        <!-- 右边的bar栏目 -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown"><a class="dropdown-toggle"
                                    data-toggle="dropdown" href="#" aria-expanded="false"> <i
                    class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{:Url('index/correct/logout')}"><i class="fa fa-sign-out fa-fw"></i> 注销</a></li>
                </ul> <!-- /.dropdown-user --></li>
            <!-- /.dropdown -->
        </ul>
    </nav>


    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li><a class="active-menu" href="{:url('index/correct/home')}"><i class="fa fa-dashboard"></i> 报名列表</a></li>
                {if($correct == 1)}
                <li><a class="" href="{:url('index/correct/correct')}"><i class="fa fa-qrcode"></i> 审阅作品</a></li>
                {/if}
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">"{$competition.title}"社会调查报名列表<small>Welcome {$Request.session.user_name}</small></h1>
            <ol class="breadcrumb">
                <li class="active"> 报名列表</li>
            </ol>
        </div>
        <div id="page-inner" style="min-height:1000px;">

            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#111" style="margin-bottom: 20px;">
                        社会调查报名筛选
                    </button><br/>
                    <a href="{:url('index/correct/signexvel')}"><button type="button" class="btn btn-info" style="width: 20%;">"{$competition.title}"社会调查报名汇总excel</button></a>

                    <div class="modal fade" id="111" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabe2">社会调查报名筛选</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <form role="form" method="post" enctype="multipart/form-data" action="{:url('index/correct/signsearch')}">
                                                <div class="form-group">
                                                    <label>任课老师</label>
                                                    <input type="text" name="teacher" value="{$Think.session.title}" class="form-control" maxlength="28">
                                                </div>
                                                <input type="hidden" name="__token__" value="{$Request.token}" />
                                                <input type="submit" id="submit" class="btn btn-success" value=" 筛选 " style="width: 100%">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="min-height: 0">报名列表 </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%">社会调查方向</th>
                                        <th style="width: 10%">社会调查题目</th>
                                        <th style="width: 10%">任课老师</th>
                                        <th style="width: 10%">知道老师</th>
                                        <th style="width: 10%">队长姓名</th>
                                        <th style="width: 10%">队长联系方式</th>
                                        <th style="width: 18%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="list" id="list" }
                                    <tr style="min-height: 51px;">
                                        <td style="width: 10%">{$list.type.title}</td>
                                        <td style="width: 10%">{$list.sign_title}</td>
                                        <td style="width: 10%">{$list.sign_teacher_renke}</td>
                                        <td style="width: 10%">{$list.sign_teacher}</td>
                                        <td style="width: 10%">{$list.name}</td>
                                        <td style="width: 10%">{$list.phone}</td>
                                        <td style="width: 18%">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#info{$list.id}" style="margin-bottom: 20px;">
                                                查看完整信息
                                            </button>
                                            <div class="modal fade" id="info{$list.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                            <h4 class="modal-title" id="myModalLabe2">完整信息</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" style="min-height: 0">社会调查信息</div>
                                                                    <div class="panel-body">
                                                                        <div class="table-responsive">
                                                                            <table class="table table-striped table-bordered table-hover">
                                                                                <tbody>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%"><h4>社会调查信息</h4></th>
                                                                                    <td style="width: 80%;"></td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">课程</th>
                                                                                    <td style="width: 80%;">{$list.competition.title}</td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">社会调查类别</th>
                                                                                    <td style="width: 80%;">{$list.type.title}</td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">社会调查题目</th>
                                                                                    <td style="width: 80%;">
                                                                                        {if($list.sign_title == null)}无{/if}
                                                                                        {if($list.sign_title != null)}{$list.sign_title}{/if}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">任课老师</th>
                                                                                    <td style="width: 80%;">{$list.sign_teacher_renke}</td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">指导老师</th>
                                                                                    <td style="width: 80%;">
                                                                                        {if($list.sign_teacher == null)}无{/if}
                                                                                        {if($list.sign_teacher != null)}{$list.sign_teacher}{/if}
                                                                                    </td>
                                                                                </tr>
                                                                                {if($list.title_pingyu != null)}
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">选题评语</th>
                                                                                    <td style="width: 80%;">
                                                                                        {$list.title_pingyu}
                                                                                    </td>
                                                                                </tr>
                                                                                {/if}
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%"><h4>个人(队长)信息</h4></th>
                                                                                    <td style="width: 80%;"></td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">姓名</th>
                                                                                    <td style="width: 80%;">{$list.name}</td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">学号</th>
                                                                                    <td style="width: 80%;">{$list.code}</td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">班级</th>
                                                                                    <td style="width: 80%;">{$list.class}</td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">年级</th>
                                                                                    <td style="width: 80%;">{$list.grade}</td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">学院</th>
                                                                                    <td style="width: 80%;">{$list.collage}</td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">联系方式</th>
                                                                                    <td style="width: 80%;">{$list.phone}</td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">邮箱</th>
                                                                                    <td style="width: 80%;">{$list.email}</td>
                                                                                </tr>
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%"><h4>队伍信息</h4></th>
                                                                                    <td style="width: 80%;"></td>
                                                                                </tr>
                                                                                {volist name="list->members" id="member" }
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">队员{$member.number}信息</th>
                                                                                    <td style="width: 80%;">
                                                                                        姓名：{$member.name}，学号：{$member.code}，联系方式：{$member.phone}
                                                                                    </td>
                                                                                </tr>
                                                                                {/volist}
                                                                                <tr style="min-height: 51px;">
                                                                                    <th style="width: 20%">是否已提交作品</th>
                                                                                    <td style="width: 80%;">
                                                                                        {if($list.file == null)}否{/if}
                                                                                        {if($list.file != null)}是{/if}
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pingyu{$list.id}" style="margin-bottom: 20px;">
                                                选题评语
                                            </button>
                                            <div class="modal fade" id="pingyu{$list.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                            <h4 class="modal-title" id="myModalLabe2">选题评语</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-8 col-md-offset-2">
                                                                    <form role="form" method="post" enctype="multipart/form-data" action="{:url('index/correct/title_pingyu',['id'=>$list['id']])}">
                                                                        <div class="form-group">
                                                                            <label>评语</label><small style=""> 本评语只会对报名者显示，最多300字</small>
                                                                            <textarea class="form-control" rows="3"  name="pingyu" maxlength="300"></textarea>
                                                                        </div>
                                                                        <label></label>
                                                                        <input type="hidden" name="__token__" value="{$Request.token}" />
                                                                        <input type="submit" id="submit" class="btn btn-success" value=" 确定 " style="width: 100%">
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                    {/volist}
                                </table>
                                {$page}
                            </div>
                        </div>
                    </div>

                </div>

                <footer>

                </footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/js/morris/morris.js"></script>
    <script src="/static/assets/js/easypiechart.js"></script>
    <script src="/static/assets/js/easypiechart-data.js"></script>
    <script src="/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>
    <!-- Custom Js -->
    <script src="/static/assets/js/custom-scripts.js"></script>
    <!-- Chart Js -->
    <script type="text/javascript" src="/static/assets/js/Chart.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/chartjs.js"></script>

</body>

</html>